.todo-card {
  width: 50%;
  margin: 10px;
  padding: 30px;
  padding-right: 0px;
  border-radius: 10px;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 4fr 1fr;
}

.todo-card p {
  font-size: 20px;
  margin-bottom: 0px;
  padding: 0px;
}

.checkbox {
  margin: 8px;
  height: 25px;
  width: 25px;
}

.color-red {
  background-color: rgb(232, 92, 139);
}

.color-green {
  background-color: rgb(87, 232, 198);
}
